.root {
  display: block;
  position: relative;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: var(--text-color-link);
  width: 100%;
  text-align: center;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  flex: 0 0 auto;
  background: var(--color-action);
}

.icon svg {
  width: 16px;
  height: 16px;
}

.isDisabled {
  opacity: 0.5;
}
