.root {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  max-width: 100%;
  font-size: 32px;
  color: #000;
  line-height: 1.4;
  overflow: hidden;
}

.input {
  text-align: right;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  outline: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  width: 100%;
  flex: 1;
  height: 100%;
}
