.root {
  display: block;
}

.exchangeGroup {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
}

.exchangeField {
  padding: 30px 30px;
  background: #fff;
  max-width: 100%;
  min-width: 0;
}

.exchangeField:not(:first-child) {
  background: #f3f4f5;
}

.currencyField {
  display: flex;
  align-items: center;
  min-width: 0;
}

.currencyFieldSelector,
.currencyFieldInput {
  flex: 1 1 auto;
}

.currencyFieldInput {
  display: flex;
  justify-content: flex-end;
  min-width: 0;
  max-width: 100%;
}

.swap {
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  border-radius: 100px;
  background: #fff;
  display: flex;
  color: #0075eb;
}

.swapIcon {
  width: 22px;
  height: 22px;
  margin: auto;
}

.chart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: 32px;
  padding: 0 10px;
  border: 2px solid #f3f4f5;
  border-radius: 100px;
  background: #fff;
  overflow: hidden;
}

.chartLine {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #0075eb;
}

.chartIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.status {
  display: flex;
  align-items: center;
  color: #8a95a0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.balance {
  flex: 0 0 50%;
}

.message {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
}
