.root {
  display: flex;
  align-items: center;
}

.selectorList {
  display: flex;
  flex-direction: column;
}

.selectorList li {
  display: inline-flex;
  align-items: center;
  padding: 12px 15px;
  color: var(--text-color-link);
  font-size: 20px;
  letter-spacing: -0.8px;
  border-bottom: 1px solid #e2e2e2;
}

.selectorList li:first-child {
  border-top: 1px solid #e2e2e2;
}

.flag {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-position: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06) inset;
  margin-right: 15px;
}

.dropdownContent {
  background: #fff;
  border-radius: 10px;
}

.more {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: var(--link-color);
}

.moreIcon {
  display: flex;
  justify-content: center;
  background: #f3f4f4;
  color: #ced4dc;
  font-size: 24px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 15px;
}

.buttonCancel {
  padding: 15px 15px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
  letter-spacing: -0.8px;
  font-weight: 500;
  color: var(--link-color);
  margin-top: 8px;
}

.dropdownLabel {
  padding: 23px 15px;
  color: #8b949e;
  margin: 0;
  font: normal 14px -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
