.root {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.field {
  display: flex;
  margin-bottom: 15px;
}

.fieldSelector {
  flex: 0 0 auto;
}

.fieldInput {
  flex: 1 1 auto;
}

.selectorList {
  display: flex;
  flex-direction: column;
}

.selectorList li {
  display: inline-flex;
  align-items: center;
  padding: 12px 15px;
  color: var(--link-color);
  font-size: 20px;
  letter-spacing: -0.8px;
  border-bottom: 1px solid #e2e2e2;
}

.selectorList li:first-child {
  border-top: 1px solid #e2e2e2;
}

.flag {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-position: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06) inset;
  margin-right: 15px;
}
