.root {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 17px;
  letter-spacing: -0.4px;
}

.content {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}
